Using the OSM python bindings to get the geocoding of user location

https://geopy.readthedocs.io/en/stable/#


for GeoJSON analysis 

https://automating-gis-processes.github.io/2016/Lesson3-point-in-polygon.html

Check if point is part of the polygon 


Reading geojson files using geoPandas 

https://www.twilio.com/blog/2017/08/geospatial-analysis-python-geojson-geopandas.html

In [ ]:
!curl --location --request POST 'https://api.placekey.io/v1/placekey' --header 'apikey: {{PLACEKEYAPI}}' --header 'Content-Type: application/json' --data-raw '{ "query": {"query_id": "thisiscustom", "latitude": 37.7371,"longitude": -122.44283}}'

{"message":"Invalid authentication credentials"}

In [ ]:
!curl --location --request POST 'https://api.placekey.io/v1/placekey' --header 'apikey: PLACEKEYAPI' --header 'Content-Type: application/json' --data-raw '{"query": {"query_id": "thisiscustom", "latitude": 37.7371,"longitude": -122.44283}}'

{"query_id":"thisiscustom","placekey":"@5vg-82n-kzz"}

In [ ]:
!curl --location --request POST 'https://api.placekey.io/v1/placekey' --header 'apikey: PLACEKEYAPI' --header 'Content-Type: application/json' --data-raw '{"query": {"street_address": "1543 Mission Street, Floor 3",  "city": "San Francisco",  "region": "CA",  "postal_code": "94105",  "iso_country_code": "US" }}'

{"query_id":"0","placekey":"22k@5vg-7gq-5mk"}

In [ ]:
!curl --location --request POST 'https://api.placekey.io/v1/placekey' --header 'apikey: PLACEKEYAPI' --header 'Content-Type: application/json' --data-raw '{"query": {"street_address": " ",  "city": "Amsterdam Zuidoost",  "region": " ",  "postal_code": " ",  "iso_country_code": "NLD" }}'

{"message":"parameter query validation failed: parameter iso_country_code validation failed: NLD matches none of the possibilities: us,US"}

In [ ]:
import pandas as pd
dutch_tweets = pd.read_excel('Dutch tweets.xlsx')
municipalities = pd.read_csv('municipalities_v7.csv')

print(dutch_tweets.shape)
print(municipalities.shape)

(1000, 11)
(6840, 26)

In [ ]:
dutch_tweets.head()

                                           full_text  ...  Year
0  RT @NVALeuven: Onaanvaardbaar! üò°üò°üò°\n\nSpoedig ...  ...  2020
1  Coronabonus voor leiding Zaans Medisch Centrum...  ...  2020
2  Dubbele verantwoordelijkheid dus voor werkgeve...  ...  2020
3  RT @Elsdijkstra95: Nee tatuurlijk niet he. Waa...  ...  2020
4  RT @mikercarpenter: News that got completely b...  ...  2020

[5 rows x 11 columns]

In [ ]:
municipalities.head()

   Unnamed: 0  year   municipality  ... avg_woz  avg_ww_ratio  murders
0           1  2018    Aa en Hunze  ...     NaN           NaN      NaN
1           2  2018        Aalburg  ...     NaN           NaN      NaN
2           3  2018       Aalsmeer  ...     NaN           NaN      NaN
3           4  2018         Aalten  ...     NaN           NaN      NaN
4           5  2018  Achtkarspelen  ...     NaN           NaN      NaN

[5 rows x 26 columns]

In [ ]:
municipalities[municipalities['municipality'] == 'Streefkerk']

Empty DataFrame
Columns: [Unnamed: 0, year, municipality, province, population, latitude, longitude, surface_km2, surface_land_km2, surface_water_km2, university, flag_color1, flag_color2, flag_color3, flag_color4, shield_symbol_1, shield_symbol_2, shield_symbol_3, shieldholder_1, shieldholder_2, shield_crown, asylum_migrants, avg_household_income, avg_woz, avg_ww_ratio, murders]
Index: []

In [ ]:
!pip install geopandas
!pip install geopy

In [ ]:
import geopy.geocoders
from geopy.geocoders import Nominatim

In [ ]:
locator = Nominatim(user_agent="myGeocoder")
location = locator.geocode("Champ de Mars, Paris, France")

In [ ]:
print("Latitude = {}, Longitude = {}".format(location.latitude, location.longitude))

Latitude = 48.85614465, Longitude = 2.297820393322227

In [ ]:
from geopy.extra.rate_limiter import RateLimiter

# 1 - conveneint function to delay between geocoding calls
geocode = RateLimiter(locator.geocode, min_delay_seconds=1)

# 2- - create location column
dutch_tweets['point_info'] = dutch_tweets['location'].apply(geocode)

# 3 - create longitude, laatitude and altitude from location column (returns tuple)
dutch_tweets['point'] = dutch_tweets['point_info'].apply(lambda loc: tuple(loc.point) if loc else None)

In [ ]:
# 4 - split point column into latitude, longitude and altitude columns
dutch_tweets[['latitude', 'longitude', 'altitude']] = pd.DataFrame(dutch_tweets['point'].tolist(), index=dutch_tweets.index)

In [ ]:
dutch_tweets.head()

                                           full_text  ... altitude
0  RT @NVALeuven: Onaanvaardbaar! üò°üò°üò°\n\nSpoedig ...  ...      0.0
1  Coronabonus voor leiding Zaans Medisch Centrum...  ...      0.0
2  Dubbele verantwoordelijkheid dus voor werkgeve...  ...      0.0
3  RT @Elsdijkstra95: Nee tatuurlijk niet he. Waa...  ...      0.0
4  RT @mikercarpenter: News that got completely b...  ...      0.0

[5 rows x 16 columns]

In [ ]:

dutch_tweets.to_excel('dutch_tweets.xlsx', index=False)

In [ ]:
# If dutch_tweet['location'] was empty or NaN then remove the point information

dutch_tweets.loc[dutch_tweets['location'].isnull(), ['point_info', 'point', 'latitude', 'longitude', 'altitude']] = ""

In [ ]:
dutch_tweets[['latitude', 'longitude', 'altitude']] = pd.DataFrame(dutch_tweets['point'].tolist(), index=dutch_tweets.index)

In [ ]:
dutch_tweets.head()

                                           full_text  ... altitude
0  RT @NVALeuven: Onaanvaardbaar! üò°üò°üò°\n\nSpoedig ...  ...
1  Coronabonus voor leiding Zaans Medisch Centrum...  ...        0
2  Dubbele verantwoordelijkheid dus voor werkgeve...  ...        0
3  RT @Elsdijkstra95: Nee tatuurlijk niet he. Waa...  ...        0
4  RT @mikercarpenter: News that got completely b...  ...        0

[5 rows x 16 columns]

In [ ]:
dutch_tweets.to_excel('dutch_tweets.xlsx', index=False)

Source:

https://www.twilio.com/blog/2017/08/geospatial-analysis-python-geojson-geopandas.html

In [ ]:
import geopandas as gpd

provinces = gpd.read_file('provinces.geojson')

print(provinces.shape)
provinces.head()

(12, 4)

                  name  ...                                           geometry
0              Drenthe  ...  POLYGON ((6.41328 52.98552, 6.36252 53.03397, ...
1            Flevoland  ...  POLYGON ((5.36115 52.67573, 5.37726 52.76481, ...
2  Friesland (Frysl√¢n)  ...  POLYGON ((5.08707 53.32307, 5.10178 53.36803, ...
3           Gelderland  ...  POLYGON ((5.60602 51.99416, 5.59200 52.00139, ...
4            Groningen  ...  POLYGON ((6.28698 53.34138, 6.27368 53.34527, ...

[5 rows x 4 columns]

In [ ]:
from shapely.geometry import Point, Polygon

p1 = Point(dutch_tweets['point'][1])

In [ ]:
provinces['geometry'][0].contains(p1)

False

In [ ]:
def checkProvince(p1):
  #print(len(p1))
  if p1 != None and len(p1) >= 2 :
    p1 = Point(p1[1], p1[0])  
    provinces['InProvince'] = provinces['geometry'].apply(lambda x: x.contains(p1))
    selProvince = provinces[provinces['InProvince'] == True]
    #print(selProvince)
    if selProvince.shape[0] > 0:
      return selProvince['name'].values[0]
    else:
      return False
  else:
    return False

In [ ]:
checkProvince(dutch_tweets['point'][1])

'Noord-Holland'

In [ ]:
dutch_tweets['Province'] = dutch_tweets['point'].apply(lambda x: checkProvince(x))

In [ ]:
dutch_tweets.head()

                                           full_text  ...       Province
0  RT @NVALeuven: Onaanvaardbaar! üò°üò°üò°\n\nSpoedig ...  ...          False
1  Coronabonus voor leiding Zaans Medisch Centrum...  ...  Noord-Holland
2  Dubbele verantwoordelijkheid dus voor werkgeve...  ...   Zuid-Holland
3  RT @Elsdijkstra95: Nee tatuurlijk niet he. Waa...  ...   Zuid-Holland
4  RT @mikercarpenter: News that got completely b...  ...     Gelderland

[5 rows x 17 columns]

In [ ]:
dutch_tweets.to_excel('dutch_tweets.xlsx', index=False)