DATE: 26th Oct 2020

This file will iterate over all the data files. Take one chunk of allData and then iterate over the rows to dientify province matches ...It will also read the HSN HISCO codes and update it in the respective columns


1. Read allData_chunk{idx}.csv
2. Iterate through rows and check for allLocation_chunks
3. Update the location information 
4. Iterate through the tweet text & update the HISCO codes
5. Save the file to Gdrive

HISCO codes (for single file) was done in the following colab notebook
Previous version can be found here:

https://colab.research.google.com/drive/1Ja5HNwJxR9pyDLcqizpi475AT9O41glY#scrollTo=LwCAd5y93e6L

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
!cp -r drive/"My Drive"/"Dutch Tweets" .

cp: cannot open 'drive/My Drive/Dutch Tweets/allDataList_chunk6.gsheet' for reading: Operation not supported
cp: cannot open 'drive/My Drive/Dutch Tweets/allDataList_chunk9.gsheet' for reading: Operation not supported
cp: cannot open 'drive/My Drive/Dutch Tweets/allDataList_chunk0.gsheet' for reading: Operation not supported
cp: cannot open 'drive/My Drive/Dutch Tweets/allDataList_chunk1.gsheet' for reading: Operation not supported
cp: cannot open 'drive/My Drive/Dutch Tweets/allDataList_chunk2.gsheet' for reading: Operation not supported
cp: cannot open 'drive/My Drive/Dutch Tweets/allDataList_chunk3.gsheet' for reading: Operation not supported
cp: cannot open 'drive/My Drive/Dutch Tweets/allDataList_chunk4.gsheet' for reading: Operation not supported
cp: cannot open 'drive/My Drive/Dutch Tweets/allDataList_chunk5.gsheet' for reading: Operation not supported
cp: cannot open 'drive/My Drive/Dutch Tweets/allDataList_chunk8.gsheet' for reading: Operation not supported
cp: cannot open 'drive/My Drive/Dutch Tweets/allDataList_chunk7.gsheet' for reading: Operation not supported

In [ ]:
# Read and concatenate all the location data 
import pandas as pd 

allLocation = pd.DataFrame()

for idx in range(10):
  try:
    allLocation = pd.concat([allLocation, pd.read_csv("Dutch Tweets/Location CSV/allLocation_chunk"+ str(idx) +".csv")], axis=0)
  except:
    print("Error encountered on the following chunk: ", idx)
    pass

print("Shape of allLocation dataframe: ", allLocation.shape)
allLocation.columns

Shape of allLocation dataframe:  (14809, 8)

Index(['Unnamed: 0', 'location', 'point_info', 'point', 'latitude',
       'longitude', 'altitude', 'Province'],
      dtype='object')

In [ ]:
# Preprocess the location file by updating the string information

allLocation.drop(columns=['Unnamed: 0'], inplace=True)
allLocation.reset_index(inplace=True, drop=True)
allLocation['location'] = allLocation['location'].astype("str")
allLocation.head(15)

                          location  ...       Province
0                      Netherlands  ...      Flevoland
1       Amsterdam, The Netherlands  ...  Noord-Holland
2                              nan  ...          False
3                        Amsterdam  ...  Noord-Holland
4                  The Netherlands  ...      Flevoland
5                          NLD-DEU  ...          False
6                  Lopik / Holland  ...        Utrecht
7             Groningen, Nederland  ...      Groningen
8             Utrecht, Netherlands  ...        Utrecht
9                          Utrecht  ...        Utrecht
10             Ergens op de wereld  ...          False
11      Nijmegen/Nimègue, Pays-Bas  ...     Gelderland
12           Leidschendam-Voorburg  ...   Zuid-Holland
13  045 Zuid-Limburg - Nederlandje  ...          False
14          Groningen, Netherlands  ...      Groningen

[15 rows x 7 columns]

In [ ]:
## Read the HSN HISCO codes and process it 

# Read the HSNHISCO code file
hsnhisco = pd.read_excel("Dutch Tweets/hsnhisco.xlsx")
hsnhisco.drop_duplicates(subset=['Standard', 'HISCO'], inplace=True)
print(hsnhisco.shape)
hsnhisco.head()

# Create a Series of unique HSN HISCO codes
# And then extract list of all codes 

hsnhisco_dict = pd.Series(hsnhisco['HISCO'].values,index=hsnhisco['Standard']).to_dict()
print(hsnhisco.shape)
hisco_list = list(set(list(hsnhisco['Standard'])))
print(len(hisco_list))

(34257, 15)
(34257, 15)
34257

Read the data files

In [ ]:
# ## For debugging next code blocks

idx =5
allData_chunk = pd.read_excel("Dutch Tweets/Tweets Excel Version_v1/allDataList_chunk"+str(idx) + ".xlsx", dtype={'full_text': 'str', 'text Translation': 'str', 
                                                                                                        'description':'str','desc Translation': 'str', 
                                                                                                        'location': 'str'})
allData_chunk.reset_index(inplace=True, drop=True)
allData_chunk['location'] = allData_chunk['location'].astype("str")
allData_chunk.head()

In [ ]:
# allData = pd.merge(allData_chunk, allLocation,how='left', on= ['location'], suffixes=("_data","_loc") )
# allData.head()

In [ ]:
# print(f"Saving chunk to file: allData_chunk{idx}.xlsx" )

Saving chunk to file: allData_chunk0.xlsx

In [ ]:
# read each allData chunk & merge with allLocation file. 
# write it back to local disk

for idx in range(3, 10):
  print(f"Processing chunk: {idx}")
  try:
    allData_chunk = pd.read_excel("Dutch Tweets/Tweets Excel Version_v1/allDataList_chunk"+str(idx) + ".xlsx", dtype={'full_text': 'str', 'text Translation': 'str', 
                                                                                                        'description':'str','desc Translation': 'str', 
                                                                                                        'location': 'str'})
  except:
    print("Error process chunk: ", idx)
    pass
  allData_chunk.reset_index(inplace=True, drop=True)
  allData_chunk['location'] = allData_chunk['location'].astype("str")
  
  allData = pd.merge(allData_chunk, allLocation,how='left', on= ['location'], suffixes=("_data","_loc") )

  # apply the hisco code & standard
  allData['hisco_standard'] = allData['full_text'].apply(lambda tweet: [str(i) for i in hisco_list if i in str(tweet)])
  allData['hisco_code'] = allData['full_text'].apply(lambda tweet: [str(hsnhisco_dict[i]) for i in hisco_list if i in str(tweet)])

  # process the results, to ensure that the list brackets are removed    
  allData['hisco_standard'] = allData['hisco_standard'].apply(lambda text: str(text)[2:len(str(text))-2] ) 
  allData['hisco_code'] = allData['hisco_code'].apply(lambda text: str(text)[2:len(str(text))-2] )

  print(f"Saving chunk to file: allData_chunk{idx}.xlsx" )
  allData.to_excel("allData_chunk"+ str(idx) + ".xlsx", index=False)

Processing chunk: 3
Saving chunk to file: allData_chunk3.xlsx
Processing chunk: 4
Saving chunk to file: allData_chunk4.xlsx
Processing chunk: 5
Saving chunk to file: allData_chunk5.xlsx
Processing chunk: 6
Saving chunk to file: allData_chunk6.xlsx
Processing chunk: 7
Saving chunk to file: allData_chunk7.xlsx
Processing chunk: 8
Saving chunk to file: allData_chunk8.xlsx
Processing chunk: 9
Saving chunk to file: allData_chunk9.xlsx

In [ ]:
!cp *.xlsx drive/"My Drive"/"Dutch Tweets"/"Tweets Excel_v3"

In [ ]:
drive.flush_and_unmount()
print('All changes made in this colab session should now be visible in Drive.')

All changes made in this colab session should now be visible in Drive.

In [ ]:
for idx in range(10):
  try:
    allData =pd.read_excel("allData_chunk"+str(idx)+".xlsx")
    print(f'Shape of data chunk {idx} :: {allData.shape}')
  except Exception as err:
    print(f"Error processing chun {idx}")
    print(err)
    pass

Shape of data chunk 0 :: (27019, 19)
Shape of data chunk 1 :: (27142, 19)
Shape of data chunk 2 :: (27130, 19)
Shape of data chunk 3 :: (27112, 19)
Shape of data chunk 4 :: (27217, 19)
Shape of data chunk 5 :: (27104, 19)
Shape of data chunk 6 :: (27026, 19)
Shape of data chunk 7 :: (27234, 19)
Shape of data chunk 8 :: (27137, 19)
Shape of data chunk 9 :: (27221, 18)

In [ ]:
## For debugging next code block
idx = 0

allData =pd.read_excel("allData_chunk"+str(idx)+".xlsx")
print(f'Shape of data chunk {idx} :: {allData.shape}')

Shape of data chunk 0 :: (27019, 19)

In [ ]:
allData.columns

Index(['full_text', 'text Translation', 'created_at', 'screen_name',
       'description', 'desc Translation', 'location', 'Weekday', 'Month',
       'Year', 'Day', 'point_info', 'point', 'latitude', 'longitude',
       'altitude', 'Province', 'hisco_standard', 'hisco_code'],
      dtype='object')

In [ ]:
# allData[allData['location'].isnull()]

In [ ]:
allData.loc[allData['location'].isnull(), 'point_info'] = ''
allData.loc[allData['location'].isnull(), 'point'] = ''
allData.loc[allData['location'].isnull(), 'latitude'] = ''
allData.loc[allData['location'].isnull(), 'longitude'] = ''

In [ ]:
allData.to_csv("allData_chunk"+ str(idx) + ".xlsx", index=False)

In [ ]:
for idx in range(10):
  try:
    allData =pd.read_excel("allData_chunk"+str(idx)+".xlsx")
    print(f'Shape of data chunk {idx} :: {allData.shape}.....Processing....')
    allData.loc[allData['location'].isnull(), 'point_info'] = ''
    allData.loc[allData['location'].isnull(), 'point'] = ''
    allData.loc[allData['location'].isnull(), 'latitude'] = ''
    allData.loc[allData['location'].isnull(), 'longitude'] = ''
    print(f'Saving file allData_chunk{idx}.xlsx')
    allData.to_csv("allData_chunk"+ str(idx) + ".xlsx", index=False)
  except Exception as err:
    print(f"Error processing chunk {idx}")
    print(err)
    pass

Error processing chun 0
Unsupported format, or corrupt file: Expected BOF record; found b'full_tex'
Shape of data chunk 1 :: (27142, 19).....Processing....
Saving file allData_chunk1.xlsx
Shape of data chunk 2 :: (27130, 19).....Processing....
Saving file allData_chunk2.xlsx
Shape of data chunk 3 :: (27112, 19).....Processing....
Saving file allData_chunk3.xlsx
Shape of data chunk 4 :: (27217, 19).....Processing....
Saving file allData_chunk4.xlsx
Shape of data chunk 5 :: (27104, 19).....Processing....
Saving file allData_chunk5.xlsx
Shape of data chunk 6 :: (27026, 19).....Processing....
Saving file allData_chunk6.xlsx
Shape of data chunk 7 :: (27234, 19).....Processing....
Saving file allData_chunk7.xlsx
Shape of data chunk 8 :: (27137, 19).....Processing....
Saving file allData_chunk8.xlsx
Shape of data chunk 9 :: (27221, 18).....Processing....
Saving file allData_chunk9.xlsx

In [ ]:
for idx in range(10):
  try:
    allData =pd.read_csv("allData_chunk"+str(idx)+".xlsx")
    print(f'Shape of data chunk {idx} :: {allData.shape}.....Processing....')
    allData.loc[~allData['hisco_code'].isnull(), 'Industry'] = True
    allData.loc[allData['hisco_code'].isnull(), 'Industry'] = False
    print(f'Saving file allData_chunk{idx}.xlsx')
    allData.to_csv("allData_chunk"+ str(idx) + ".xlsx", index=False)
  except Exception as err:
    print(f"Error processing chunk {idx}")
    print(err)
    pass

Shape of data chunk 0 :: (27019, 20).....Processing....
Saving file allData_chunk0.xlsx
Shape of data chunk 1 :: (27142, 20).....Processing....
Saving file allData_chunk1.xlsx
Shape of data chunk 2 :: (27130, 20).....Processing....
Saving file allData_chunk2.xlsx
Shape of data chunk 3 :: (27112, 20).....Processing....
Saving file allData_chunk3.xlsx
Shape of data chunk 4 :: (27217, 20).....Processing....
Saving file allData_chunk4.xlsx
Shape of data chunk 5 :: (27104, 20).....Processing....
Saving file allData_chunk5.xlsx
Shape of data chunk 6 :: (27026, 20).....Processing....
Saving file allData_chunk6.xlsx
Shape of data chunk 7 :: (27234, 20).....Processing....
Saving file allData_chunk7.xlsx
Shape of data chunk 8 :: (27137, 20).....Processing....
Saving file allData_chunk8.xlsx
Shape of data chunk 9 :: (27221, 19).....Processing....
Saving file allData_chunk9.xlsx

In [ ]:
allData.head(15)

                                            full_text  ... Industry
0   1300 nieuwe besmettingen met corona: Het RIVM ...  ...    False
1   1300 nieuwe besmettingen met corona: Het RIVM ...  ...    False
2   1300 nieuwe besmettingen met corona: Het RIVM ...  ...    False
3   RT @Variety: #Tenet likely to be delayed again...  ...    False
4   RT @Variety: #Tenet likely to be delayed again...  ...    False
5   1300 nieuwe besmettingen met corona: Het RIVM ...  ...    False
6   @3Groter @lotje_hx Ik denk dan óók dat die geh...  ...     True
7   Anti lockdown protest Milaan:\n\nDe betogers e...  ...    False
8   Anti lockdown protest Milaan:\n\nDe betogers e...  ...    False
9   RT @nlvaarder: Rutte wil Gommers spreken over ...  ...    False
10  RT @varkensinnood: Dat slachthuizen sluiten kl...  ...    False
11  RT @depeiling: Het RIVM meldt in de afgelopen ...  ...    False
12  RT @depeiling: Het RIVM meldt in de afgelopen ...  ...    False
13  @henriettedewit @kimzs09dv Als jij daar werkt ...  ...    False
14  @henriettedewit @kimzs09dv Als jij daar werkt ...  ...    False

[15 rows x 19 columns]