In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
!cp -r drive/"My Drive"/"Dutch Tweets" .

cp: cannot open 'drive/My Drive/Dutch Tweets/allDataList_chunk9.gsheet' for reading: Operation not supported
cp: cannot open 'drive/My Drive/Dutch Tweets/allDataList_chunk6.gsheet' for reading: Operation not supported

In [ ]:
# Read location chunks 
import pandas as pd 

idx = 6

allLocation_chunk = pd.read_csv("Dutch Tweets/allLocation_chunk"+str(idx)+".csv")
allLocation_chunk.shape
allLocation_chunk.head()

   Unnamed: 0                        location
0        9171                        Elim, PA
1        9172                         @VlkEke
2        9173   Staatsbosbeheer Noord Limburg
3        9174                     Zennewijnen
4        9175                    IJsselmuiden

In [ ]:
import geopy.geocoders
from geopy.geocoders import Nominatim
from geopy.extra.rate_limiter import RateLimiter

locator = Nominatim(user_agent="myGeocoder")

# 1 - conveneint function to delay between geocoding calls
geocode = RateLimiter(locator.geocode, min_delay_seconds=1)

In [ ]:
# 2- - create location column
allLocation_chunk['point_info'] = allLocation_chunk['location'].apply(geocode)

RateLimiter caught an error, retrying (0/2 tries). Called with (*('MEXICO-III • MEXICO',), **{}).
Traceback (most recent call last):
  File "/usr/local/lib/python3.6/dist-packages/geopy/geocoders/base.py", line 344, in _call_geocoder
    page = requester(req, timeout=timeout, **kwargs)
  File "/usr/lib/python3.6/urllib/request.py", line 526, in open
    response = self._open(req, data)
  File "/usr/lib/python3.6/urllib/request.py", line 544, in _open
    '_open', req)
  File "/usr/lib/python3.6/urllib/request.py", line 504, in _call_chain
    result = func(*args)
  File "/usr/lib/python3.6/urllib/request.py", line 1368, in https_open
    context=self._context, check_hostname=self._check_hostname)
  File "/usr/lib/python3.6/urllib/request.py", line 1328, in do_open
    r = h.getresponse()
  File "/usr/lib/python3.6/http/client.py", line 1356, in getresponse
    response.begin()
  File "/usr/lib/python3.6/http/client.py", line 307, in begin
    version, status, reason = self._read_status()
  File "/usr/lib/python3.6/http/client.py", line 268, in _read_status
    line = str(self.fp.readline(_MAXLINE + 1), "iso-8859-1")
  File "/usr/lib/python3.6/socket.py", line 586, in readinto
    return self._sock.recv_into(b)
  File "/usr/lib/python3.6/ssl.py", line 1012, in recv_into
    return self.read(nbytes, buffer)
  File "/usr/lib/python3.6/ssl.py", line 874, in read
    return self._sslobj.read(len, buffer)
  File "/usr/lib/python3.6/ssl.py", line 631, in read
    v = self._sslobj.read(len, buffer)
socket.timeout: The read operation timed out

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/usr/local/lib/python3.6/dist-packages/geopy/extra/rate_limiter.py", line 130, in __call__
    return self.func(*args, **kwargs)
  File "/usr/local/lib/python3.6/dist-packages/geopy/geocoders/osm.py", line 307, in geocode
    self._call_geocoder(url, timeout=timeout), exactly_one
  File "/usr/local/lib/python3.6/dist-packages/geopy/geocoders/base.py", line 371, in _call_geocoder
    raise GeocoderTimedOut('Service timed out')
geopy.exc.GeocoderTimedOut: Service timed out
RateLimiter caught an error, retrying (0/2 tries). Called with (*('Rotterdam Region, Netherlands',), **{}).
Traceback (most recent call last):
  File "/usr/local/lib/python3.6/dist-packages/geopy/geocoders/base.py", line 344, in _call_geocoder
    page = requester(req, timeout=timeout, **kwargs)
  File "/usr/lib/python3.6/urllib/request.py", line 526, in open
    response = self._open(req, data)
  File "/usr/lib/python3.6/urllib/request.py", line 544, in _open
    '_open', req)
  File "/usr/lib/python3.6/urllib/request.py", line 504, in _call_chain
    result = func(*args)
  File "/usr/lib/python3.6/urllib/request.py", line 1368, in https_open
    context=self._context, check_hostname=self._check_hostname)
  File "/usr/lib/python3.6/urllib/request.py", line 1328, in do_open
    r = h.getresponse()
  File "/usr/lib/python3.6/http/client.py", line 1356, in getresponse
    response.begin()
  File "/usr/lib/python3.6/http/client.py", line 307, in begin
    version, status, reason = self._read_status()
  File "/usr/lib/python3.6/http/client.py", line 268, in _read_status
    line = str(self.fp.readline(_MAXLINE + 1), "iso-8859-1")
  File "/usr/lib/python3.6/socket.py", line 586, in readinto
    return self._sock.recv_into(b)
  File "/usr/lib/python3.6/ssl.py", line 1012, in recv_into
    return self.read(nbytes, buffer)
  File "/usr/lib/python3.6/ssl.py", line 874, in read
    return self._sslobj.read(len, buffer)
  File "/usr/lib/python3.6/ssl.py", line 631, in read
    v = self._sslobj.read(len, buffer)
socket.timeout: The read operation timed out

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/usr/local/lib/python3.6/dist-packages/geopy/extra/rate_limiter.py", line 130, in __call__
    return self.func(*args, **kwargs)
  File "/usr/local/lib/python3.6/dist-packages/geopy/geocoders/osm.py", line 307, in geocode
    self._call_geocoder(url, timeout=timeout), exactly_one
  File "/usr/local/lib/python3.6/dist-packages/geopy/geocoders/base.py", line 371, in _call_geocoder
    raise GeocoderTimedOut('Service timed out')
geopy.exc.GeocoderTimedOut: Service timed out
RateLimiter caught an error, retrying (0/2 tries). Called with (*('Amsterdam, Holanda (Países Bai',), **{}).
Traceback (most recent call last):
  File "/usr/local/lib/python3.6/dist-packages/geopy/geocoders/base.py", line 344, in _call_geocoder
    page = requester(req, timeout=timeout, **kwargs)
  File "/usr/lib/python3.6/urllib/request.py", line 526, in open
    response = self._open(req, data)
  File "/usr/lib/python3.6/urllib/request.py", line 544, in _open
    '_open', req)
  File "/usr/lib/python3.6/urllib/request.py", line 504, in _call_chain
    result = func(*args)
  File "/usr/lib/python3.6/urllib/request.py", line 1368, in https_open
    context=self._context, check_hostname=self._check_hostname)
  File "/usr/lib/python3.6/urllib/request.py", line 1328, in do_open
    r = h.getresponse()
  File "/usr/lib/python3.6/http/client.py", line 1356, in getresponse
    response.begin()
  File "/usr/lib/python3.6/http/client.py", line 307, in begin
    version, status, reason = self._read_status()
  File "/usr/lib/python3.6/http/client.py", line 268, in _read_status
    line = str(self.fp.readline(_MAXLINE + 1), "iso-8859-1")
  File "/usr/lib/python3.6/socket.py", line 586, in readinto
    return self._sock.recv_into(b)
  File "/usr/lib/python3.6/ssl.py", line 1012, in recv_into
    return self.read(nbytes, buffer)
  File "/usr/lib/python3.6/ssl.py", line 874, in read
    return self._sslobj.read(len, buffer)
  File "/usr/lib/python3.6/ssl.py", line 631, in read
    v = self._sslobj.read(len, buffer)
socket.timeout: The read operation timed out

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/usr/local/lib/python3.6/dist-packages/geopy/extra/rate_limiter.py", line 130, in __call__
    return self.func(*args, **kwargs)
  File "/usr/local/lib/python3.6/dist-packages/geopy/geocoders/osm.py", line 307, in geocode
    self._call_geocoder(url, timeout=timeout), exactly_one
  File "/usr/local/lib/python3.6/dist-packages/geopy/geocoders/base.py", line 371, in _call_geocoder
    raise GeocoderTimedOut('Service timed out')
geopy.exc.GeocoderTimedOut: Service timed out

In [ ]:
# 3 - create longitude, laatitude and altitude from location column (returns tuple)
allLocation_chunk['point'] = allLocation_chunk['point_info'].apply(lambda loc: tuple(loc.point) if loc else None)

allLocation_chunk.head()

   Unnamed: 0  ...                                  point
0        9171  ...  (40.2987335, -78.94353268168663, 0.0)
1        9172  ...                                   None
2        9173  ...                                   None
3        9174  ...           (51.8587463, 5.4118529, 0.0)
4        9175  ...  (52.56396385, 5.940171304145334, 0.0)

[5 rows x 4 columns]

In [ ]:
# 4 - split point column into latitude, longitude and altitude columns
allLocation_chunk[['latitude', 'longitude', 'altitude']] = pd.DataFrame(allLocation_chunk['point'].tolist(), index=allLocation_chunk.index)

allLocation_chunk.head(15)

    Unnamed: 0  ... altitude
0         9171  ...      0.0
1         9172  ...      NaN
2         9173  ...      NaN
3         9174  ...      0.0
4         9175  ...      0.0
5         9176  ...      0.0
6         9177  ...      0.0
7         9178  ...      NaN
8         9179  ...      NaN
9         9180  ...      NaN
10        9181  ...      0.0
11        9182  ...      0.0
12        9183  ...      NaN
13        9184  ...      0.0
14        9185  ...      0.0

[15 rows x 7 columns]

In [ ]:
!cp drive/"My Drive"/"Dutch Tweets"/*.geojson .

In [ ]:
!pip install geopandas
!pip install geopy

Collecting geopandas
  Downloading https://files.pythonhosted.org/packages/f7/a4/e66aafbefcbb717813bf3a355c8c4fc3ed04ea1dd7feb2920f2f4f868921/geopandas-0.8.1-py2.py3-none-any.whl (962kB)
     |████████████████████████████████| 972kB 3.4MB/s
Requirement already satisfied: pandas>=0.23.0 in /usr/local/lib/python3.6/dist-packages (from geopandas) (1.1.2)
Requirement already satisfied: shapely in /usr/local/lib/python3.6/dist-packages (from geopandas) (1.7.1)
Collecting pyproj>=2.2.0
  Downloading https://files.pythonhosted.org/packages/e5/c3/071e080230ac4b6c64f1a2e2f9161c9737a2bc7b683d2c90b024825000c0/pyproj-2.6.1.post1-cp36-cp36m-manylinux2010_x86_64.whl (10.9MB)
     |████████████████████████████████| 10.9MB 14.9MB/s
Collecting fiona
  Downloading https://files.pythonhosted.org/packages/36/8b/e8b2c11bed5373c8e98edb85ce891b09aa1f4210fd451d0fb3696b7695a2/Fiona-1.8.17-cp36-cp36m-manylinux1_x86_64.whl (14.8MB)
     |████████████████████████████████| 14.8MB 329kB/s
Requirement already satisfied: numpy>=1.15.4 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.23.0->geopandas) (1.18.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.23.0->geopandas) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.23.0->geopandas) (2018.9)
Requirement already satisfied: click<8,>=4.0 in /usr/local/lib/python3.6/dist-packages (from fiona->geopandas) (7.1.2)
Collecting click-plugins>=1.0
  Downloading https://files.pythonhosted.org/packages/e9/da/824b92d9942f4e472702488857914bdd50f73021efea15b4cad9aca8ecef/click_plugins-1.1.1-py2.py3-none-any.whl
Requirement already satisfied: attrs>=17 in /usr/local/lib/python3.6/dist-packages (from fiona->geopandas) (20.2.0)
Requirement already satisfied: six>=1.7 in /usr/local/lib/python3.6/dist-packages (from fiona->geopandas) (1.15.0)
Collecting cligj>=0.5
  Downloading https://files.pythonhosted.org/packages/ba/06/e3440b1f2dc802d35f329f299ba96153e9fcbfdef75e17f4b61f79430c6a/cligj-0.7.0-py3-none-any.whl
Collecting munch
  Downloading https://files.pythonhosted.org/packages/cc/ab/85d8da5c9a45e072301beb37ad7f833cd344e04c817d97e0cc75681d248f/munch-2.5.0-py2.py3-none-any.whl
Installing collected packages: pyproj, click-plugins, cligj, munch, fiona, geopandas
Successfully installed click-plugins-1.1.1 cligj-0.7.0 fiona-1.8.17 geopandas-0.8.1 munch-2.5.0 pyproj-2.6.1.post1
Requirement already satisfied: geopy in /usr/local/lib/python3.6/dist-packages (1.17.0)
Requirement already satisfied: geographiclib<2,>=1.49 in /usr/local/lib/python3.6/dist-packages (from geopy) (1.50)

In [ ]:
import geopandas as gpd

provinces = gpd.read_file('provinces.geojson')

print(provinces.shape)
provinces.head()

(12, 4)

                  name  ...                                           geometry
0              Drenthe  ...  POLYGON ((6.41328 52.98552, 6.36252 53.03397, ...
1            Flevoland  ...  POLYGON ((5.36115 52.67573, 5.37726 52.76481, ...
2  Friesland (Fryslân)  ...  POLYGON ((5.08707 53.32307, 5.10178 53.36803, ...
3           Gelderland  ...  POLYGON ((5.60602 51.99416, 5.59200 52.00139, ...
4            Groningen  ...  POLYGON ((6.28698 53.34138, 6.27368 53.34527, ...

[5 rows x 4 columns]

In [ ]:
from shapely.geometry import Point, Polygon

In [ ]:
def checkProvince(p1):
  #print(len(p1))
  if p1 != None and len(p1) >= 2 :
    p1 = Point(p1[1], p1[0])  
    provinces['InProvince'] = provinces['geometry'].apply(lambda x: x.contains(p1))
    selProvince = provinces[provinces['InProvince'] == True]
    #print(selProvince)
    if selProvince.shape[0] > 0:
      return selProvince['name'].values[0]
    else:
      return False
  else:
    return False

In [ ]:
allLocation_chunk['Province'] = allLocation_chunk['point'].apply(lambda x: checkProvince(x))
allLocation_chunk.head(15)

    Unnamed: 0  ...       Province
0         9171  ...          False
1         9172  ...          False
2         9173  ...          False
3         9174  ...     Gelderland
4         9175  ...     Overijssel
5         9176  ...          False
6         9177  ...          False
7         9178  ...          False
8         9179  ...          False
9         9180  ...          False
10        9181  ...          False
11        9182  ...   Zuid-Holland
12        9183  ...          False
13        9184  ...          False
14        9185  ...  Noord-Holland

[15 rows x 8 columns]

In [ ]:
allLocation_chunk.to_csv("allLocation_chunk"+str(idx)+".csv", index=False)
print("Geo processing completed....allLocation_chunk"+str(idx) + ".csv")

Geo processing completed....allLocation_chunk6.csv

In [ ]:
!cp allLocation_chunk6.csv drive/"My Drive"/"Dutch Tweets"/allLocation_chunk6.csv

In [ ]:
!wget http://davis.wpi.edu/~xmdv/datasets/ohsumed.tar.gz

--2020-12-11 07:17:52--  http://davis.wpi.edu/~xmdv/datasets/ohsumed.tar.gz
Resolving davis.wpi.edu (davis.wpi.edu)... 130.215.28.55
Connecting to davis.wpi.edu (davis.wpi.edu)|130.215.28.55|:80... connected.
HTTP request sent, awaiting response... 200 OK
Length: 6695770 (6.4M) [application/x-gzip]
Saving to: ‘ohsumed.tar.gz’

ohsumed.tar.gz      100%[===================>]   6.38M  1.81MB/s    in 3.5s

2020-12-11 07:17:55 (1.81 MB/s) - ‘ohsumed.tar.gz’ saved [6695770/6695770]

In [ ]:
!tar -xvzf ohsumed.tar.gz

ohsumed.okc